/*#new-game {
	width: 20em;
	height: 3em;
	font-size: 80%;
}*/

h1 {
	color: white;
	/*font-family: Copperplate, "Copperplate Gothic Light", fantasy;*/
	font-size: 100px;
	margin: 0px;
}

h2 {
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px black;
	margin: 10px;
}

/*.battleships_logo {
  text-shadow:0 0 10px #fff,
    					0 0 20px #fff,
  						0 0 30px #fff,
    			    0 0 40px #5440fd,
    				  0 0 70px #5440fd,
  						0 0 80px #5440fd,
  						0 0 100px #5440fd,
              0 0 150px #5440fd;
}
}*/

table {
  border: 1px solid black; 
}

th, td {
	border: 1px solid black;
	width: 40px;
	height: 35px;
	table-layout: fixed;
	text-align: center;	
	color: black;
	text-shadow: none;
}

body {
	color: #FDF3E7;
/*	text-shadow: 1px 1px black;*/
	text-align: left;
	background-color: #7E8F7C;
	/*background-color: #A5EDBB;*/
/*	background-image: url('/images/IMG_5259.JPG');*/
	background-size: 100%;
}

/*ul
{
    list-style-type: none;
}*/

/*input[type=radio] {
	width: 10px;
	height: 10px;
	background-color: green;
}*/