<h1> La Meune </h1>

<p> Combining many special attractions the property comprises
•	A RESTORED MAIN HOUSE (18TH CENTURY ORIGINS) WITH MUCH CHARACTER AND MANY ORIGINAL FEATURES

•	A SECOND FULLY RESTORED STONE HOUSE WITH 3 BEDROOMS

•	SEPARATE BARN WITH POTENTIAL

•	SWIMMING POOL AND LOVELY GROUNDS WITH MAGNIFICENT SUNSET VIEWS OVER THE VALLEY

There are also opportunities to refresh certain parts of the main house and to create a kitchen area in the second house to provide an excellent rental income
Currently the property is used as a spacious 6 bedroom, 3 bathroom house spread across two buildings around a courtyard. </p>