<div class="blog-post">
<p>Combining many special attractions the property comprises:</p>
<ul>
  <li>A restored main house (18th century origins) with much character and many original features</li>
  <li>A second fully restored stone house with 3 bedrooms</li>
  <li>Separate barn with potential</li>
  <li> Swimming pool and 6.6 acres of lovely grounds with magnificient sunset views over the valley</li>
</ul>
<p>There are also opportunities to refresh certain parts of the main house and to create a kitchen area in the second house to provide an excellent rental income
Currently the property is used as a spacious 6 bedroom, 3 bathroom house spread across two buildings around a courtyard. </p>
</div>

<div class="photos">
<p><img src="/images/IMG_5259.JPG"></p>
<p><img src="/images/IMG_0263.JPG"></p>
<p><img src="/images/IMG_5159.JPG"></p>
<p><img src="/images/IMG_5170.JPG"></p>
<p><img src="/images/IMG_5273.JPG"></p>
<p><img src="/images/IMG_5284.JPG"></p>
<p><img src="/images/IMG_5292.JPG"></p>
<p><img src="/images/IMG_5301.JPG"></p>
<p><img src="/images/IMG_5307.JPG"></p>
<p><img src="/images/IMG_5311.JPG"></p>
<p><img src="/images/IMG_5323.JPG"></p>
</div>