<!DOCTYPE html>
<html>
<head>
      <h1> La Meune </h1>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/css/application.css" rel="stylesheet" type="text/css">
   <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
   <title>La Meune</title>
</head>
<body>

<!-- 
   Input some bootstrap here! -->

      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
   <%= yield %>
</body>
</html>