
<div class="blog-post">
<h4>Location:</h4>
<p>Tarn et Garonne, S.W. France ~ set amidst 6.6 acres, with pasture land and enjoying superb elevated views. A delightful and utterly peaceful location at the end of a tiny country lane ~ yet within easy reach of Parisot (with large lake) and historic Najac.</p>

<h4>Summary:</h4> 
<ul>
<li>Features : pool, outbuildings, garage</li>
<li>Condition : Restored</li>
<li>Bedrooms : 6</li>
<li>Bathrooms : 3</li>
</ul>

<h4>Accommodation:</h4>
<ul>
<li>A private driveway gives access to both houses and an external stone staircase leads up to the covered porch of the MAIN HOUSE which comprises:</li>
<li>Charming Sitting / Dining Room (6.25m x 4.69m) with many original features including the original stone evier with arched window, handsome open stone fireplace with stone paved hearth, beamed ceiling, timber plank flooring. Glazed door to external dining terrace. Archway through to</li> 
<li>Spacious Dining Kitchen (4.3m x 3.13m) with ceiling open to full roof height with beams, tiled floor, windows to three sides, range of units including deep white glazed sink, base cupboards with tiled worktops and surrounds. Range cooker, fridge/freezer, dishwasher, wall cupboards and a fitted breakfast bar</li>

<li>Separate Living Room / Library (5m x 4.8m) with fireplace with wood burning stove, a range of library bookshelves and window views.</li>

<li>Staircase from the Dining Room up to the FIRST FLOOR.</li> 

<li>Handsome Principal Bedroom all light and bright and open to full roof height with fine beams and glorious double window views.</li>

<li>Spacious En-Suite Bathroom (5m x 3.6m) having raised panelled bath with hand shower, pedestal washbasin with mirror and lighting over, WC. Full range of built-in cupboards, beams and window views.</li>

<li>Staircase from the Living Room down to THE GROUND FLOOR and the Lower Floor Hallway with door to the exterior and with a tiled floor. Access to</li>

<li>Bedroom No. 2 (4.63m x 3m) with beamed ceiling, timber floor, double French windows to the garden and views.</li>

<li>Bedroom No. 3 (3.26m x 3m) with beamed ceiling, timber floor and views.</li>

<li>Bathroom having panelled bath with tiled surrounds, tiled shower, pedestal washbasin, WC, tiled floor and a built-in shelved cupboard.</li>
<li>Double Built-in Laundry Cupboard off the hall.</li>
<li>At the far end is a Large Utility Laundry Room (3.13m x 3.23m) with glazed sink, fitted shelving, two washing machines and a door to the exterior.</li>
</ul>


<h4>Second house </h4> 
<ul>
<li>Completely restored stone house (including a new roof), light and bright and comprises hall entrance with arched double French Windows to the exterior and beamed ceiling. Additional doorway to walled garden area.</li>
<li>Separate WC with pedestal washbasin.</li>
<li>Spacious Living Room and Dining Room (9.8m x 4.27m) double French windows to the front and rear dining area, beamed ceiling, timber floor and wood burning stove. A fitted kitchen area can be easily installed in the dining section.</li>
<li>Staircase from the Hall to the UPPER FLOOR LANDING with access to:</li>
<li>Bedroom No. 1 (3.35m x 3.2m) with timber floor and beamed ceiling.</li>
<li>Bedroom No. 2 (3.55m x 3.1m) with timber floor and beamed ceiling.</li>
<li>Bedroom No. 3 (4.23m x 2.9m) with timber floor and beamed ceiling.</li>
<li>Well-Fitted Bathroom with panelled bath, hand shower with tiled surround, twin white-glazed washbasins to vanity unit, tiled shower compartment, WC, and electric heated towel rail.</li>
</ul>


<h4>Outside:</h4>
<ul>
<li>Attached to the side of the Main House is a Two-Storey Open-Fronted Barn (6.63m x 5.76m) providing 2 car garaging and a staircase to the upper floor for possible extra accommodation. The upper floor is currently used as a huge ping-pong room.</li>
<li>Additional and Separate Detached Stone Barn on two floors with ongoing potential to convert if wanted.</li>
<li>The magnificent grounds extend to a total of 6.6 acres With mature gardens and excellent pastureland - most of which enjoys the spectacular views.</li>
<li>Swimming Pool 10m x 5m.</li>
</ul>

<h4>Services:</h4> 
<p>adsl, mains electricity, mains water, septic tank, telephone, well.</p>

</div>